body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div.container {
    width:98%; 
    margin:1%;
}
table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
    white-space: nowrap;
}
#tableHdr {
    font-weight: bold;
    padding-top: 10px;
}
tr,td {
    text-align:left;
    font-weight: bold;
}
p {
    margin: auto;
    max-width: 70%;
}